html {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(bottom, rgb(10,10,10) 0%, rgb(117,117,117) 100%);
  background-image: -o-linear-gradient(bottom, rgb(10,10,10) 0%, rgb(117,117,117) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(10,10,10) 0%, rgb(117,117,117) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(10,10,10) 0%, rgb(117,117,117) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(10,10,10) 0%, rgb(117,117,117) 100%);
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(10,10,10)),
    color-stop(1, rgb(117,117,117))
  );
  overflow: hidden;
}

img#backdrop-protractor {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 0;
}

img#handle {
  position: absolute;
  transform-origin: 50% 0;
  top: 0;
  left: 50%;
  z-index: 100;
  -moz-transition:width 0.2s, height 0.2s, background-color 0.2s, -moz-transform 0.2s;
  -webkit-transition:width 0.2s, height 0.2s, background-color 0.2s, -webkit-transform 0.2s;
  -o-transition:width 0.2s, height 0.2s, background-color 0.2s, -o-transform 0.2s;
  transition:width 0.2s, height 0.2s, background-color 0.2s, transform 0.2s;
}

div#show-angle {
  position: absolute;
  left: 0.5em;
  top: 100%;
  margin-top: -2em;
  color: yellow;
  font-size: 2em;
  font-family: Courier, monospace;
  font-weight: bold;
}
